*{
    margin: 0;
    text-align: center;
    background-color: grey;
}
#container{
    margin: 0 auto;
    height: 650px;
    width: 650px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.square{
    background-color: white;
}

#gridSize {
    height: 30px;
    width: 100px;
    margin-top: 50px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 2px solid grey;
    border-radius: 8px;
}
