*{
    margin: 0;
    text-align: center;
    background-color: grey;
}

#wrapper{
    display: flex;
    justify-content: center;
}

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container{
    margin: 20px 50px;
    height: 650px;
    width: 650px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.square{
    background-color: white;
}

#gridSize, #clearGrid {
    height: 40px;
    width: 100px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 2px solid grey;
    border-radius: 8px;
}

h1 {
    margin-top: 20px;
    padding-left: 100px;
}
